[Unit]
Description=MySQL Community Server
After=network.target

[Service]
Type=notify
User=mysql
ExecStart=/usr/sbin/mysqld
Restart=on-failure

[Install]
WantedBy=multi-user.target
